	<div class="section product_section clearfix" itemscope itemtype="http://schema.org/Product">
    <div class="row">
      <div id="subSection1" class="subContainer backgroundpattern"> 
        <div class="subContent">  
          {% assign collection_handles = product.collections | map: 'handle' %}
          {% assign variant = product.selected_or_first_available_variant %}
          <h1 class="subproduct_name" itemprop="name">{{ product.title }}</h1>
          {% if settings.display_vendor %}
            <p class="vendor">
              <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}
         <div class="description">
         The best wines, delivered straight to your door. Set up your subscription today and have win all day, err day.
         </div>
          <div class="container row">
            <div class="sixteen columns center"> 
              <div class="col-centered">
                <div class="two columns alpha subscription_promo">
                    <img src="{{ 'cancel_card_sub.png' | asset_url }}" alt="Cancel your subscription at any time" />
                    <h6>Cancel Anytime</h6>
                </div>
                <div class="two columns subscription_promo">
                    <img src="{{ 'discount_subscription.png' | asset_url }}" alt="15 percent discount" />
                    <h6>15% discount on every subscription</h6>
                </div>   
                <div class="two columns subscription_promo">
                    <img src="{{ 'Friendly_Email_Reminders.png' | asset_url }}" alt="friendly email reminders" />
                    <h6>Friendly email reminders</h6>
                </div>   
                <div class="two columns subscription_promo">
                    <img src="{{ 'Cellar_management.png' | asset_url }}" alt="manage it in your cellar" />
                    <h6>Manages your bottles in your cellar</h6>
                </div>   
                <div class="two columns omega subscription_promo">
                    <img src="{{ 'happiness_guaranteed.png' | asset_url }}" alt="happiness guaranteed" />
                    <h6>Happiness Guaranteed</h6>
                </div>   
              </div>         
            </div>
          </div>
        </div>
    </div>
    
    <div id="subSection2" class="subContainer">
      <div class="subContent"> 
        <div class="col-centered">
          <div class="row">
              <div class="six columns subscription_promo">
                <h2>CHOOSE A PLAN</h2>
                <p>Select the amount of bottles you'd like</p>
              </div>
          </div>
          <div class="row">
            <div class="six columns alpha subscription_promo">
                      <img src="{{ 'cancel_card_sub.png' | asset_url }}" alt="Cancel your subscription at any time" />
                      <h6>Cancel Anytime</h6>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div id="subSection3" class="subContainer backgroundpattern">
      <div class="subContent"> 
        <div class="col-centered">
          <div class="row">
              <div class="six columns subscription_promo">
                <h2>SET YOUR PREFERENCES</h2>
                <p>What's your style? Set it and forget it, we'll take care of the rest.</p>
              </div>
          </div>
          <div class="row">
            <div class="six columns alpha subscription_promo">
                    
            </div>
            </div>
        </div>
      </div>
    </div>
    <div id="subSection4" class="subContainer">
      <div class="subContent">
          <div class="col-centered">
            <div class="row">      
             <div class="six columns subscription_promo">
                    <h2>WOOT! YOU DID IT. YOU'RE DONE!</h2>
                    <p>What's your style? Set it and forget it, we'll take care of the rest.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="subSection5" class="subContainer">
      <div class="subContent">       
        {% unless collection_handles contains 'coming-soon' %}
          {% include 'product-form-subscription' with 'product' %}
        {% endunless %}  
      </div>
    </div>

    <!-- {% if settings.product_images_position == 'right' %}   
      <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">          
        {% include 'product-images' %}
      </div>
    {% endif %} -->
  </div>

  {% if product.description contains "<!-- split -->"  %} 
    <br class="clear" />
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
  </div>

  {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign col = tag | remove: 'meta-related-collection-' %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
      
    {% if col and collections[col].all_products_count > 0 %}
      {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
        <br class="clear" />
        <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
        <div class="feature_divider"></div>

        {% assign skip_product = product %}
        {% assign products = collections[col].products %}
        {% assign products_per_row = settings.products_per_row %}
        {% include 'product-loop' with settings.product_sidebar %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>
